.input-0{
    background-color: #FFE0DF;
    color: #d1706c;
    font-size: 1.2vw
}
.input-0:hover{
    background-color: #c76865;
}
.input-1{
    background-color: #FFDFC8;
    color: #d18047;
    font-size: 1.2vw ;
}
.input-2{
    background-color: #D1FBF0;
    color: #05926c;
    font-size: 1.2vw;
}
.input-3{
    background-color: #D1FBF0;
    color: #05926c;
    font-size: 1.2vw;
}
.input-4{
    background-color: #FFDFC8;
    color: #d18047;
    font-size: 1.2vw;
}
.input-5{
    background-color: #FFE0DF;
    color: #d1706c;
    font-size: 1.2vw;
}
.input-active-0{
    background-color: #bb0716;
    font-size: 1.2vw;
}
.input-active-1{
    background-color: #bb0716;
    font-size: 1.2vw;
}
.input-active-2{
    background-color: #bb0716;
        font-size: 1.2vw;
}
.input-active-3{
    background-color: #bb0716;
        font-size: 1.2vw;
}
.input-active-4{
    background-color: #bb0716;
        font-size: 1.2vw;
}
.input-active-5{
    background-color: #bb0716;
        font-size: 1.2vw;
}