.input-0{
    background-color: #FFE0DF;
    color: #EF8481
}
.input-1{
    background-color: #FFDFC8;
    color: #FC9C57;
}
.input-2{
    background-color: #D1FBF0;
    color: #00BA88;
}
.input-3{
    background-color: #E0DBFF;
    color: #8883F0;
}
.input-4{
    background-color: #b6adf7;
    color: #6962f5;
}
.input-5{
    background-color: #675cb9;
    color: #3e36da;
}