.card{
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 2vh;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px 1px rgba(0.2, 0.2, 0.2, 0.2);

}
.card:hover{
    background-color: rgb(221, 218, 218);
}
.card>img{
    width: 18vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 12vh 2vh 2vh 12vh ;

}
.card>h3{
    color: black;
    margin-left: 4vw;
}
.btnContainer{
    width: fit-content;
    display: flex;
    position: absolute;
    align-items: end;
    justify-content: center;
    height: fit-content;
    top: 0;
    right: 81%;
    top: 68%;

}
.btnE{
 padding: 1.4vh;
 border-radius: 12px;
 border: none;
 background-color: #E0DBFF;
 color: #8883F0;
}
.btnD{
    padding: 1.2vh;
    border-radius: 15px;
    border: none;
    margin-left: 1vw;
    background-color: #FBDDDC;
    color: #EE8380;
}
.allContainer{
    position: relative;
    width: 40vw;
    height: 25vh;

}