.card{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 2vh;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px 1px rgba(0.2, 0.2, 0.2, 0.2);

}
.card:hover{
    background-color: rgb(221, 218, 218);
}
.card>img{
    width: 18vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 12vh 2vh 2vh 12vh ;

}
.card>h3{
    color: black;
    margin-left: 4vw;
}