
#navd {
    height:50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;


}
#navd p {
    margin-left: 20px;
    width: 100%;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.logo {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.nav_r {
    position: fixed;
    z-index: initial ;
    background: #4338CA;
    border-radius: 10px;
    width: 100%;
    height: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    gap: 12px;

}
.nav_r a {
    display: flex;
    align-items: center;
    justify-content: left ;
    height: 7vh;
    width: 80%;
    border-radius: 8px;
    padding: 12px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -mos-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}
.usuario{
display: flex;
width: 80%;
letter-spacing: -0.01em;
align-items: center;
margin-top: 1rem;
}
#home {
    color:#4338CA;
    background: #FFFFFF;
}
#usuario {
    margin-right: 10px;
    background: url('../../../public/assets/Rectangle_10.png');
    width: 46px;
    height: 46px;
    border-radius: 50px;
}
.usuario p {
    display: flex;
}
.general {
    height: 20vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
}