.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.titulo2{
    color: #222222;
    font-style: normal;
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
    font-size: 36px;
}
.img2{
    display: block;
    width: 100px;
    height: 100px;
    margin: 50px auto;
}

.formA{
    background: #fff;
    width: 40%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}
.form2{
    width: 100%;
    margin: auto;
}
.formA .grupo2{
    position: relative;
    margin: 20px;
}
.input2{
    background: none;
    color:#424242;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid #424242;
    resize: none;
}
.input2:focus{
    outline: none;
    color: #424242;
}
.input2:focus~label{
    position: absolute;
    font-size: 12px;
    color: #424242;
}

.btn1{
    background-color: #4338CA;
    display: block;
    width: 60%;
    height: 60px;
    border:none;
    color:#fff; 
    border-radius: 50px;
    font-size: 18px;
    margin: 80px auto;
    padding:20px, 55px, 20px, 55px;
}