.form-comment{
    
    background-color: rgba(167, 167, 167, 0.63);
    padding:1rem; 
}
.text{
    background-color: rgba(167, 167, 167, 0.63);
    height: 2.5rem;
    width: 80%;
    border: none;
}
.border-input{
    border: solid 1px rgb(94, 42, 42);
    border-radius: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgba(167, 167, 167, 0.63);
    margin: auto;

}
.submit-comment>img{
    height: 1.5rem;
    width: 1.5rem;
}

