footer{
    margin-top: 1rem;
    min-height: 80vh;
    width: 100%;
    background: #FFFFFF;
}
.img-seccion>img{
    height: 8rem;
    width: 100%;
    border-image:round;
    clip-path: polygon(0 1%, 100% 0, 100% 60%, 90% 100%, 10% 100%, 0 61%);
}
.suscribe-seccion{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 28vh;
    margin: auto;
    justify-content: space-around;
    background-color:#FFFF;
    border-radius: 10px;
    border: 1px;
    border-radius: 10px;
    box-shadow:  1px 10px 50px #EEEEEE;
}
.suscribe-text>h1{
    font-family: 'Playfair Display';
    color: black;
}
.suscribe-text{
    margin: auto;
}
.input-secction{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 30rem;
    height: 5rem;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
}
.input-secction>button{
    background: #4338CA;
    width: 150px;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.input-secction>input{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
}
.secction-pages{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pagess{
    margin-left: 120px;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;

}
.pagess>h4{
    color: black;
}
/* .redes{
    margin: auto;
    width: 50%;
    padding-top: 40px;
}  */
.redes>img{
    display: inline-block;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 25px;
    margin-left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
}
.terms-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 78%;
    margin: auto;
    border-top: solid 1px #bababa;
    color: black;
}
.logo-footer>img{
    width: 7rem;
    height: 4rem;
    object-fit:unset;
    margin-top: 1rem;
}
.img-logo{
    height: 5rem;
}
.p-text{
    margin: auto;
    display: flex;
    
}
.p-text2{
    margin-right: 4px;
    margin: 15px;
    color: black;

}
@media (max-width: 768px) {
    .logo-footer>img{
        width: 5rem;
        height: 3rem;
    }
    .input-secction{
        width: 15rem;
    }
}
@media (max-width: 425px) {
    .logo-footer>img{
        height: 2rem;
        width: 3rem;
    }
} 






